<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on

    # Send request via index.php 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # NOTICE: Replace the path below (up to the $1) with the path to your REST controller 
    RewriteRule ^(.*)$ /v1/index.php/$1 [L]
</IfModule>
