<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on

    # Send request via index.php 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # NOTICE: Replace the path below (up to the $1) with the path to your REST controller 
    RewriteRule ^(.*)$ /v1/index.php?phpmicrorest_rest_request_argument_list=$1 [L]
</IfModule>
Options -Indexes
<Files ~ "\.class\.php$">
    Order allow,deny
    Deny from all
</Files>
